
$beige: #f9e4b7;

body{
  margin: 20px
}

#question {
  background: white;
  border-left: 5px solid grey;
  height: 100ox;
  width: 400px;
  padding: 10px 50px;
  margin: 20px 0px;
   }

#answer {
  background: beige;
  height: 100ox;
  width: 400px;
  border-left: 5px solid grey;
  padding: 10px 50px;
  margin: 20px 0px;
   }

a {
  color: blue;
   &:hover {
     color: red;
   }
 }
